<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuai.sharedpref">


    <application>

        <!--provider -->
        <!--authorities定义授权URI，initOrder定义初始化顺序-->
        <provider
            android:name="com.shuai.sharedpref.SharedPrefProvider"
            android:authorities="${applicationId}.provider.sharedpref"
            android:exported="true"
            android:initOrder="1" />

    </application>

</manifest>